/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1,h2,h3,h4 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
}

p,a {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: center;
}

header {
    background-color: #c4c1e0;
}

.introduction {
    padding: 150px 100px ;
    color: #432e4eef;
}
.introduction h1 {
    font-size: 88px;
}
.introduction h2 {
    font-size: 60px;
    color: #5c54aa;
}
.introduction h3 {
  font-size: 60px;
}

.part-about-me {
background-color: #ffe9e3;
padding: 20px ;
}

.skills-tools {
    background-color: #ace7ef;
    padding: 15px;
}

.last-work {
    background-color: #cefff1;
    padding: 15px;
}
footer {
    background-color: #fafafa;
    text-align: center;
    padding: 40px;

}
a.button-uniqe:hover {
    background-color: #7c73e6;
}
a.button-work {
 background-color: #ace7ef;
 text-align: center;
 padding: 10px 15px;
 color: #432e4eef;
 font-family:  'Playfair Display', serif;
}
a.button-work:hover {
    background-color: #84b6bdce;
}
a.button-uniqe {
    background-color: #c4c1e0;
    font-family:  'Playfair Display', serif;
}
a.button-contact {
    background-color: #84b6bdce;
    text-align: center;
    padding: 10px 15px;
    color: #432e4eef;
    font-family:  'Playfair Display', serif;
    font-size: 32px;
}
a.button-contact:hover {
    background-color: #ace7ef;
}
.button-center {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.button-center a {
    margin: 30px;
    font-family:  'Playfair Display', serif;
}
.about-me {
    margin-right: 900px;
    padding: 15px 0;
}
.about-me p {
    color: #7c73e6;
    font-size: 26px;

}
.about-me h3 {
    color: #432e4eef;
    font-size: 48px;
}
.container-text-parameters {
    font-size: 28px;
    color: #432e4eef;
}
.container-text-parameters .row {
padding: 15px;
}
.icon-size {
    font-size: 36px;
}
.cat-top-image {
  display: flex;
  position:absolute;
  width: 400px;
  margin-top: -110px;
}

@media (max-width: 900px) {
    .introduction h1 {
        font-size: 40px;
    }
    .introduction h2 {
        font-size: 32px;
    }
    .about-me h3 {
        font-size: 36px;
    }
    .about-me p {
        font-size: 18px;
    }
    a.button-contact {
    font-size: 22px;
    }
    .cat-top-image {
      width: 200px;
    }
}

.angle {
    position: relative;
  }
  
  .angle:after {
    content: '';
    position: absolute;
  }
  
  .angle1,
  .angle1:after {
    height: 80px;
    width: 100%;
  }
  
  @media (min-width: 520px) {
    .angle1,
    .angle1:after {
      height: 120px;
    }
  }
  
  @media (min-width: 900px) {
    .angle1,
    .angle1:after {
      height: 160px;
    }
  }
  
  .angle1 {
    background-color: #ffe9e3;
  }
  
  .angle1:after {
    background-color: #c4c1e0;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
            clip-path: polygon(100% 100%, 100% 0, 0 0);
  }
  
  .angle2,
  .angle2:after {
    height: 50px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle2,
    .angle2:after {
      height: 75px;
    }
  }
  
  @media (min-width: 900px) {
    .angle2,
    .angle2:after {
      height: 105px;
    }
  }
  
  .angle2 {
    background-color: #ace7ef;
  }
  
  .angle2:after {
    background-color: #ffe9e3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
  }
  
  /* + end of the skills part */

  .angle3,
  .angle3:after {
    height: 50px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle3,
    .angle3:after {
      height: 75px;
    }
  }
  
  @media (min-width: 900px) {
    .angle3,
    .angle3:after {
      height: 105px;
    }
  }
  
  .angle3 {
    background-color: #cefff1;
  }
  
  .angle3:after {
    background-color: #ace7ef;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 50%, 12% 100%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 50%, 12% 100%, 0 60%);
  }
  
/* end of work section  */

  .angle4,
  .angle4:after {
    height: 35px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle4,
    .angle4:after {
      height: 55px;
    }
  }
  
  @media (min-width: 900px) {
    .angle4,
    .angle4:after {
      height: 75px;
    }
  }
  
  .angle4 {
    background-color: #fafafa;
  }
  
  .angle4:after {
    background-color: #cefff1;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
  

