/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
  background-color: #f6e5e5;
}

h1,h2,h3,h4 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
}

p,a {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    text-align: center;
}

header {
    background-color: #c4c1e0;
}

.introduction {
    padding: 150px 100px ;
    color: #432e4eef;
}
.introduction h1 {
    font-size: 88px;
}
.introduction h2 {
    font-size: 60px;
    color: #625ca7;
    font-family: 'Poppins', sans-serif;
}
.introduction h3 {
  font-size: 60px;
}

.part-about-me {
background-color: #ffe9e3;
padding: 20px ;
}

.skills-tools {
    background-color: #ace7ef;
    padding: 15px;
}

.last-work {
    background-color: #e6b2c6;
    padding: 15px;
}
footer {
    background-color: #f6e5e5;
    text-align: center;
    padding: 40px;

}
.work-contact-space {
  background-color: #c4c1e0;
  padding: 30px;
}
main {
  background-color: #e6b2c6;
}
a.button-uniqe:hover {
    background-color: #7c73e6;
}
a.button-work {
 background-color: #ace7ef;
 text-align: center;
 padding: 10px 15px;
 color: #432e4eef;
 font-family:  'Playfair Display', serif;
}
a.button-work:hover {
    background-color: #f6e5e5;
}
a.button-uniqe {
    background-color: #c4c1e0;
    font-family:  'Playfair Display', serif;
}
a.button-contact {
    background-color: #f6e5e5;
    text-align: center;
    padding: 10px 15px;
    color: #432e4eef;
    font-family:  'Playfair Display', serif;
    font-size: 32px;
}
a.button-contact:hover {
    background-color: #ace7ef;
}
.button-center {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.button-center a {
    margin: 30px;
    font-family:  'Playfair Display', serif;
}
.about-me {
    margin-right: 900px;
    padding: 15px 0;
}
.about-me p {
    color: #625ca7;
    font-size: 26px;

}
.about-me h3 {
    color: #432e4eef;
    font-size: 48px;
}
.container-text-parameters {
    font-size: 28px;
    color: #432e4eef;
}
.container-text-parameters .row {
padding: 15px;
}
.icon-size {
    font-size: 36px;
}
a.links-introduction {
  color: #625ca7;
  text-decoration: none;
}
a.links-introduction:hover {
  color: #432e4eef;
}
.contact-page {
  background-color: #e6b2c6;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 60px;
}
.contact-page-image-space {
padding-bottom: 60px;
background-color: #e6b2c6;
}
.cat-top-image {
  display: flex;
  position:absolute;
  width: 350px;
  left: 10px;
  top: 70px;
}
.cat-right-image {
  display: flex;
  position: absolute;
  top: 530px; 
 right: 100px;
  width: 400px;
}
.work-right-image {
  display: flex;
  position: absolute;
  top: 350px; 
 right: 40px;
  width: 400px;
}
.contact-image {
display: block;
margin: 0 auto;
width: 400px;

}
.work-text {
  display: flex;
  position: absolute;
  top: 170px;
  left: 250px;
  font-size: 40px;
}
.contact-image-bottom {
display: none;
}
@media (max-width: 1550px) {
  .cat-top-image {
    width: 200px;
  }
  .cat-right-image {
      width: 300px;
  }
  .introduction h1 {
    font-size: 60px;
}
.introduction h2 {
    font-size: 40px;
}
.work-right-image {
  display: none;
}
}
@media (max-width: 1200px) {
  .work-text {
    top: 150px;
    left: 50px;
  }
  .footer-contact-page {
    padding-bottom: 220px;
  }
  .contact-image-bottom {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    width: 400px;
  }
}
@media (max-width: 900px) {
    .introduction h1 {
        font-size: 40px;
    }
    .introduction h2 {
        font-size: 32px;
    }
    .about-me h3 {
        font-size: 36px;
    }
    .about-me p {
        font-size: 18px;
    }
    a.button-contact {
    font-size: 22px;
    }
    .cat-top-image {
      width: 140px;
    }
    .cat-right-image {
      width: 180px;
      right: 10px;
    }
    .contact-image {
      width: 300px;
    }
    .work-text {
      top: 100px;
      left: 30px;
      font-size: 30px;
    }
    .footer-contact-page {
      padding-bottom: 150px;
    }
    .contact-image-bottom {
      display: block;
      margin: 0 auto;
      padding-top: 60px;
      width: 300px;
    }
}

.main-staff {
padding-top: 30px;
padding-bottom: 40px;
}


.angle {
    position: relative;
  }
  
  .angle:after {
    content: '';
    position: absolute;
  }
  
  .angle1,
  .angle1:after {
    height: 80px;
    width: 100%;
  }
  
  @media (min-width: 520px) {
    .angle1,
    .angle1:after {
      height: 120px;
    }
  }
  
  @media (min-width: 900px) {
    .angle1,
    .angle1:after {
      height: 160px;
    }
  }
  
  .angle1 {
    background-color: #ffe9e3;
  }
  
  .angle1:after {
    background-color: #c4c1e0;
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
            clip-path: polygon(100% 100%, 100% 0, 0 0);
  }
  
  .angle2,
  .angle2:after {
    height: 50px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle2,
    .angle2:after {
      height: 75px;
    }
  }
  
  @media (min-width: 900px) {
    .angle2,
    .angle2:after {
      height: 105px;
    }
  }
  
  .angle2 {
    background-color: #ace7ef;
  }
  
  .angle2:after {
    background-color: #ffe9e3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
  }
  
  /* + end of the skills part */

  .angle3,
  .angle3:after {
    height: 50px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle3,
    .angle3:after {
      height: 75px;
    }
  }
  
  @media (min-width: 900px) {
    .angle3,
    .angle3:after {
      height: 105px;
    }
  }
  
  .angle3 {
    background-color: #e6b2c6;
  }
  
  .angle3:after {
    background-color: #ace7ef;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 50%, 12% 100%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 50%, 12% 100%, 0 60%);
  }
  
/* end of work section  */

  .angle4,
  .angle4:after {
    height: 35px;
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .angle4,
    .angle4:after {
      height: 55px;
    }
  }
  
  @media (min-width: 900px) {
    .angle4,
    .angle4:after {
      height: 75px;
    }
  }
  
  .angle4 {
    background-color: #f6e5e5;
  }
  
  .angle4:after {
    background-color: #e6b2c6;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
   /* end of footer */

   .angle5,
   .angle5:after {
     height: 50px;
     width: 100%;
   }
   
   @media (min-width: 600px) {
     .angle5,
     .angle5:after {
       height: 75px;
     }
   }
   
   @media (min-width: 900px) {
     .angle5,
     .angle5:after {
       height: 105px;
     }
   }
   
   .angle5 {
     background-color: #e6b2c6;
   }
   
   .angle5:after {
     background-color: #ffe9e3;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
             clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
   }
   /* wor work page */